<html>
    <head>
        <title>Кредитний калькулятор</title>
    </head>
<body>

<h1>Кредитні відомості</h1>

<form action="/result" method="post">

    Процентна ставка(%): <input type="text" value="" name="perc" id="perc"></br>

    Сума кредиту: <input type="text" value="" name="summa" id="summa"><br/>

    Термін кредиту (в місяцях): <input type="text" value="" name="term"><br/>

    <input type="radio" name="howtopay" value="annuitet"  >Аннуїтетний<br/>
<input type="radio" name="howtopay" value="standart"  >Рівними частинами<br/>


   <button type="submit" >Розрахувати</button>
</form>



</body>
</html>